| Product series | Version | x64 library patch | x86 library patch | Driver link | Date of Driver Release | Date patch made available |
|----------------|---------|-------------------|-------------------|-------------|------------------------|---------------------------|
$driver_rows
